.formDiv {
    width: 500px;
    margin-top: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1rem 5rem;
}

.newBlogButtonDiv {
    display: flex;
}

.btn {
    margin-top: 5px;
    margin-right: 5px;
}

.username {
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.flexContainer {
    display: flex;
    margin-top: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.infoDiv {
    width: 20%;
    border: 1px solid black;
    padding: 0.67em;
}

.contentDiv {
    width: 80%;
    border: 1px solid black;
    padding: 0.67em
}

.dark-mode {
    background-color: black;
    color: white;
}