.formDiv {
    width: 500px;
    margin-top: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 
a {
    margin: 0 5px;
    padding: 5px 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 10px;
} */

.signUp:hover {
    background-color: rgba(132, 132, 132, 0.992);
    color: white
}