.formDiv {
    width: 500px;
    margin-top: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 5px;
}

.block {
    display: block;
    width: 100%;
}

p {
    text-align: center;
}